* {
  padding: 0;
  margin: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}

th,
td {
  border: 1px solid #d0d0d0;
  color: black;
  padding: 10px;
}

th {
  background-color: purple;
  font: bold 12px "΢���ź�";
  color: #fff;
}

td {
  font: 12px "΢���ź�";
}

td a.get {
  text-decoration: none;
}

a.del:hover {
  text-decoration: underline;
}

tbody tr {
  background-color: deeppink;
}

tbody tr:hover {
  background-color: #fafafa;
}

table{
  width: 410px;
}
.btnAdd {
  width: 110px;
  font-size: 20px;
  display: inline-block;
}


